@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 562.5746331496051px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: -63px;
}

#u326
{
	z-index: 2;
	width: 380px;
	margin-right: -10000px;
}

#u326_clip
{
	width: 380px;
	height: 114px;
}

#u326_img
{
	margin: -15px -28px -531px -20px;
}

#u341
{
	z-index: 4;
	width: 34px;
	height: 27px;
	margin-right: -10000px;
	margin-top: 78px;
	left: 15px;
}

#u342
{
	z-index: 5;
	width: 34px;
	height: 27px;
	margin-right: -10000px;
	margin-top: 78px;
	left: 87px;
}

#u343
{
	z-index: 6;
	width: 39px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 71px;
	left: 159px;
}

#u344
{
	z-index: 7;
	width: 40px;
	height: 40px;
	margin-right: -10000px;
	margin-top: 65px;
	left: 231px;
}

#u529
{
	z-index: 8;
	width: 272px;
	height: 57px;
	margin-right: -10000px;
	left: 5px;
}

#u691
{
	z-index: 9;
	width: 73px;
	height: 48px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 301px;
}

#u1007
{
	z-index: 10;
	width: 43px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 295px;
}

#u1007_clip
{
	width: 43px;
	height: 42px;
}

#u1007_img
{
	margin-top: -10px;
}

#u1063
{
	z-index: 12;
	width: 42px;
	height: 42px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 71px;
	left: 295px;
}

#pu1332
{
	width: 0.01px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u1332
{
	z-index: 16;
	width: 382px;
	position: relative;
	margin-right: -10000px;
}

#u1337
{
	z-index: 18;
	width: 350px;
	height: 301px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 16px;
}

#pu326,#pu1555
{
	width: 0.01px;
	position: relative;
}

#u1555
{
	z-index: 13;
	width: 380px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u1589
{
	z-index: 15;
	width: 379px;
	height: 62px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

body
{
	padding-bottom: 64px;
}

#page .verticalspacer
{
	clear: both;
}

